extends base/_layout
block head
    title Main page
block header
    +header('white')
block page

    -
        const sliderData = [ {
            url: 'intro/intro-bg1',
            sup: 'Begin your investment',
            title: 'Investment<br>in Most Ambitious<br>Projects'
            }, {
                url: 'intro/intro-bg2',
                sup: 'Begin your investment',
                title: 'Let\'s start your<br>investment'
            }, {
                url: 'intro/intro-bg3',
                sup: 'Begin your investment',
                title: 'With a good<br>perspective,<br>on your own history'
            },
        ]

    section.intro

        .intro__panel

            .container

                .intro__next
                    span Next
                    button.intro__btn

                .intro__pagination.pagination

                    button.pagination__item.active(data-index='0') 01

                    button.pagination__item(data-index='1') 02

                    button.pagination__item(data-index='2') 03

                    .pagination__pointer

            .intro__bottom

                .container

                    .intro__inner

                        a.intro__scroll(href="#")
                            span Scroll Down#[br]
                            span to Learn More#[br]
                            +icon('arrow-white-down-45')

                .intro__signup

                    a.intro__link(href="#")

                    .intro__bg

                    .intro__descr

                        p.intro__sup Take it easy

                        p.intro__text Create account

                    +icon('intro-arrow-up-45-white')

        .intro__slider


            .intro__wrapper

                each item in sliderData

                    +introSliderItem(item.url, item.sup, item.title)

            .intro__foreground
