extends base/_layout
block head
    title Main page
block header
    +header('white')
block page

    -
        const sliderData = [ {
            url: 'intro/intro-bg1',
            sup: 'Begin your investment',
            title: 'Investment<br>in Most Ambitious<br>Projects'
            }, {
                url: 'intro/intro-bg2',
                sup: 'Begin your investment',
                title: 'Let\'s start your<br>investment'
            }, {
                url: 'intro/intro-bg3',
                sup: 'Begin your investment',
                title: 'With a good<br>perspective,<br>on your own history'
            },
        ]

    section.intro

        .intro__panel

            .container

                .intro__next
                    span Next
                    button.intro__btn

                .intro__pagination.pagination

                    button.pagination__item.active(data-index='0') 01

                    button.pagination__item(data-index='1') 02

                    button.pagination__item(data-index='2') 03

                    .pagination__pointer

            .intro__bottom
                .container

                    .intro__inner
                        a.intro__scroll(href="#")
                            span Scroll Down#[br]
                            span to Learn More#[br]
                            +icon('arrow-white-down-45')

                .intro__signup

                    a.intro__link(href="#")

                    .intro__bg

                    .intro__descr
                        p.intro__sup Take it easy
                        p.intro__text Create account

                    +icon('intro-arrow-up-45-white')

        .intro__slider
            .intro__wrapper

                each item in sliderData
                    +introSliderItem(item.url, item.sup, item.title)

            .intro__foreground

    section.info

        .container

            h2.info__title Who we are

            .info__container 

                .info__description
                    p.info__important.
                        To invest is to allocate money with the expectation of a positive benefit return in the future
                    p.info__text.
                        The return may consist#[br] of a gain or a loss realized from the sale of a property or an investment

                .info__statiscitc

                    .info__item
                        p.info__name invested
                        p.info__value $95m
                        .info__icon

                            .info__pic
                                +icon('info-icon1')

                    .info__item
                        p.info__name investments
                        p.info__value 120+
                        .info__icon
                            .info__pic
                                +icon('info-icon2')

                    .info__item
                        p.info__name years company
                        p.info__value 10Y
                        .info__icon
                            .info__pic
                                +icon('info-icon3')

        .info__more
            span Learn more
            a(href="#")

        .info__box
            .info__project

                .info__bg
                    +picture('info/info-bg', 'png', 'x2')

                .info__content
                    p Investment Club
                    h3 Start ambition project

            .info__club

                .info__club-wrapper

                    a(href="#")

                    p.info__suptitle Take it easy

                    h3.info__join Join our investment club

                    .info__create
                        p Create account
                        +icon('intro-arrow-up-45-white')

            .info__phrase
                span The return may consist of a gain or a loss
