.intro {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 500px;
}

.intro__panel,
.intro__slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.intro__panel {
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.intro__next {
  position: absolute;
  top: 374px;
  right: 243px;
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.01em;
  color: var(--white-color);
  border: none;

  .intro__btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--white-color);
    transition: var(--transition);
    transform-origin: bottom bottom;

    &:hover {
      transform: scale(1.433);
    }
  }
}

.intro__pagination {
  display: none;
}

.intro__bottom {
  position: relative;
  width: 100%;
  max-width: 1500px;
  min-height: 192px;
  margin: 0 auto;
}

.intro__inner {
  padding-top: 20px;
  border-top: 1px solid var(--white-color);
}

.intro__scroll {
  text-decoration: none;

  span {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: var(--white-color);
  }
  span:nth-child(2) {
    margin-bottom: 25px;
    font-weight: 400;
  }
}

.intro__signup {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  min-height: 172px;
  background: linear-gradient(277.24deg, #071b64 33.49%, #265792 104.72%);
  transition: var(--transition);

  &:hover {
    background: linear-gradient(277.66deg, #071b64 -57.44%, #3368a5 105.08%);
  }
}

.intro__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10s;
}

// intro slider styles

.intro__slider {
  z-index: 1;
}

.intro__wrapper {
  width: 100%;
  height: 100%;
}

.intro__item {
  width: 100%;
  height: 100%;
}

.intro__bg {
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
