footer.footer
    .container

        .footer__container

            .footer__logo.logo
                a.logo__main(href="#") Venrex
                h1.logo__descr Venrex Investment#[br]Management

            .footer__nav
                nav.footer__menu.menu

                    ul.menu__list

                        li.menu__item
                            a.menu__link(href="#") Portfolio

                        li.menu__item
                            a.menu__link(href="#") About

                        li.menu__item
                            a.menu__link(href="#") Team

                        li.menu__item
                            a.menu__link(href="#") Blog

                        li.menu__item
                            a.menu__link(href="#") Contacts

            p.footer__address United Knighdom, London,#[br]Main road 8230

            p.footer__copyright © Venrex 2021 

            .footer__rules

                a.footer__rule.footer__privacy(href="#") Privacy Policy

                a.footer__rule.footer__terms(href="#") Terms of use

                a.footer__rule(href="#") KYC

            .footer__email info@venrex.com
