section.git
    .container

        h2.git__title Do you have some questons?

        .git__nav
            p.git__suplink Contact form

            a.git__link(href="#") 
                span Get in touch
                +icon('git-arrow')

        p.git__text Send message or#[br]contact us in email
