mixin infoCenterSliderItem(imgUrl)

    .ic__slide.swiper-slide
        .ic__picture
            +picture(imgUrl, 'png', 'x2')

        a.ic__detail(href="#")
            p How to get amazing profit from platform
            +icon('ic-arrow')

        p.ic__subtitle Allocate money with the expectation of a positive benefit return in the future
