.git {
  padding: 51px 0 80px;

  @include xxs {
    padding: 20px 0 78px;
  }
}

.git__title {
  max-width: 39.6%;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 60px;
  line-height: 80%;
  letter-spacing: -0.02em;

  @include md {
    font-size: 52px;
  }

  @include xs {
    font-size: 42px;
  }

  @include xxs {
    max-width: 100%;
    font-size: 34px;
    line-height: 92%;
  }
}

.git__nav {
  margin: 0 auto 61px 27.72%;

  @include sm {
    width: max-content;
    margin: 0 auto 61px;
  }

  @include xs {
    margin-bottom: 0;
    padding-left: 2px;
  }
}

.git__suplink {
  margin-bottom: 15px;
  padding-left: 2px;
  font-weight: 400;
  font-size: 18px;
  line-height: 80%;
  letter-spacing: -0.02em;
  color: #6c738a;

  @include xs {
    margin-bottom: 10px;
  }
}

.git__link {
  width: 100%;
  display: flex;
  // justify-content: space-between;
  align-items: flex-end;
  font-weight: 600;
  font-size: 100px;
  line-height: 80%;
  letter-spacing: -0.02em;
  color: inherit;
  text-decoration: none;
  gap: 0 25px;

  span:last-child {
    display: inline-block;
    width: 48px;
    height: 48px;
    transition: var(--transition);
    transform-origin: top left;
  }

  &:hover span:last-child {
    transform: scale(1.4);
  }

  @include md {
    font-size: 80px;

    span:last-child {
      width: 40px;
      height: 40px;
    }
  }

  @include xs {
    font-size: 60px;

    span:last-child {
      width: 32px;
      height: 32px;
    }
  }

  @include xxs {
    font-size: 40px;
    gap: 0 15px;

    span:last-child {
      width: 23px;
      height: 23px;
    }
  }
}

.git__text {
  font-size: 13px;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #878787;

  @include xs {
    display: none;
  }
}
