// different color and bg-color
// depending color attribute in header mixin

// for color 'white'

.header.white {
  &,
  .logo__main,
  .menu__link,
  .auth__login,
  .auth__signup,
  .lang__selected .lang__value {
    color: var(--white-color);
  }

  .auth__signup {
    border: 1px solid rgba(255, 255, 255, 0.6);
  }

  .auth__signup:hover {
    border: 1px solid var(--blue-color);
  }

  .menu__item::after {
    border: 1px solid var(--white-color);
  }

  .header__line,
  .auth::after {
    background-color: var(--white-color);
  }

  .header__burger {
    span,
    &::after,
    &::before {
      background-color: var(--white-color);
    }
  }
}

// for color 'dark'

.header.dark {
  &,
  .logo__main,
  .menu__link,
  .auth__login,
  .auth__signup,
  .lang__selected .lang__value {
    color: var(--blue-color);
  }

  .auth__signup {
    border: 1px solid rgba(0, 17, 79, 0.6);
  }

  .auth__signup:hover {
    border: 1px solid var(--blue-color);
  }

  .menu__item::after {
    border: 1px solid var(--blue-color);
  }

  .header__line,
  .auth::after {
    background-color: var(--blue-color);
  }

  .header__burger {
    span,
    &::after,
    &::before {
      background-color: var(--blue-color);
    }
  }
}

// header general styles

.header {
  position: fixed;
  top: 41px;
  left: 0;
  width: 100%;
  z-index: 1000;

  &.main_page_header {
    z-index: 10;
  }

  &.main_page_header.active {
    z-index: 10000;
  }

  @media (max-height: 600px) {
    position: absolute;
  }
}

.header__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  @include md {
    padding: 0 51px 0 30px;
  }

  @include r(350px) {
    padding: 0 20px;
  }
}

.header__navbar {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 38px;

  @include md {
    position: relative;
    z-index: 20;
    margin-right: 0;
  }
}

.logo {
  display: flex;
  align-items: center;

  @include md {
    display: block;

    &.active {
      .logo__main {
        color: var(--blue-color) !important;

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }

      .logo__descr {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.logo__main {
  position: relative;
  top: -5px;
  margin-right: 18px;
  font-weight: 700;
  font-size: 35px;
  line-height: 44px;
  text-decoration: none;
  transition: var(--transition);

  &::after {
    content: "Investment Management";
    position: absolute;
    left: 0;
    bottom: -5px;
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: var(--blue-color);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-out;
  }
}

.logo__descr {
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: -0.01em;
  transition: var(--transition);
}

.header__line {
  margin-right: 51px;
  width: 1px;
  height: 59px;

  @include r(1399px) {
    margin-right: 35px;
  }

  @include md {
    display: none;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  transition: var(--transition);
  transition: all 0.3s ease-out;

  @include md {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;

    display: block;
    padding: 159px 39px 72px 54px;

    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      overflow-y: auto;

      &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 64px;
        background-color: #fff;
      }
    }
  }

  @include r(360px) {
    padding: 159px 39px 72px 39px;
  }
}

.header__menu {
  margin-right: 117px;

  @include r(1399px) {
    margin-right: 60px;
  }

  @include md {
    width: max-content;
    margin: 0 auto;
  }

  @include xxs {
    margin: initial;
  }
}

.menu__list {
  min-width: 394px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include r(1399px) {
    min-width: 380px;
  }

  .header__nav & {
    @include md {
      min-width: auto;
      display: block;
      margin-bottom: 116px;
    }
  }
}

.menu__item {
  position: relative;
  list-style-type: none;

  &::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--white-color);
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
  }

  &:hover::after {
    visibility: visible;
    opacity: 1;
    transform: translateY(4px);
  }

  &.menu__main {
    display: none;

    @include md {
      display: block;
    }
  }
}

.menu__link {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  letter-spacing: -0.01em;
  text-decoration: none;

  .header__nav & {
    @include md {
      font-weight: 600;
      font-size: 53px;
      line-height: 66px;
      letter-spacing: -0.01em;
      color: var(--blue-color) !important;
    }
  }
}

.current__item {
  .menu__link {
    @include md {
      pointer-events: none;
      opacity: 0.1;
    }
  }
}

.lang {
  position: relative;

  @include md {
    width: max-content;
    margin: 0 auto;
  }

  // @include xxs {
  //   margin-left: 0;
  // }

  // @include r(360px) {
  //   margin: 0 auto;
  // }

  .lang__shevron {
    transition: var(--transition);

    @include md {
      path {
        stroke: var(--blue-color);
      }
    }
  }

  &.active {
    .lang__shevron {
      transform: scaleY(-1);
    }

    .lang__selected::after {
      display: block;
    }
  }
}

.lang__selected {
  display: flex;
  align-items: center;
  gap: 0 12px;
  cursor: pointer;

  .lang__icon img {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  @include md {
    width: max-content;
    margin: 0 auto;

    .lang__value {
      color: var(--blue-color) !important;
    }
  }

  // @include xxs {
  //   margin: 0 auto 0 82px;
  // }

  // @include r(360px) {
  //   margin: 0 auto;
  // }

  &::after {
    display: none;
    content: "";
    position: absolute;
    top: 28px;
    left: -30%;
    right: -50%;
    height: 70px;

    @include md {
      top: unset;
      bottom: 28px;
      left: 50%;
      transform: translateX(-50%);
      right: unset;
      width: 205px;
    }

    @include xxs {
      left: 38px;
      transform: translateX(0);
    }

    @include r(360px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.lang__value {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.lang__icon {
  width: 29px;
  height: 29px;

  img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

.lang.active {
  .lang__dropdown {
    visibility: visible;
    opacity: 1;
  }
}

.lang__dropdown {
  position: absolute;
  top: 67px;
  left: -32px;
  z-index: 2px;
  width: 205px;
  min-height: 228px;
  padding: 13px 13px 20px;
  background: var(--white-color);
  box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  visibility: hidden;
  opacity: 0;
  transition: var(--transition);

  @include md {
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    bottom: 67px;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.3);
  }

  @include xxs {
    left: 38px;
    transform: translateX(0);
  }

  @include r(360px) {
    left: 50%;
    transform: translateX(-50%);
  }

  .lang__value {
    color: var(--blue-color);
  }
}

.lang__item {
  display: flex;
  align-items: center;
  gap: 0 13px;
  padding: 7px 14px 5px;
  cursor: pointer;
  transition: var(--transition);

  .lang__icon {
    width: 35px;
    height: 35px;
  }

  .lang__value {
    font-weight: 600;
    font-size: 17px;
    line-height: 37px;
    color: var(--blue-color);
  }

  &:hover {
    background-color: rgba(0, 17, 79, 0.1);
    border-radius: 6px;
  }
}

// panel styles

.header__panel {
  display: flex;
  align-items: center;

  @include md {
    position: relative;
    z-index: 20;
    top: -15px;
    justify-content: space-between;
    min-width: 115px;
  }
}

.auth {
  display: flex;
  align-items: flex-end;

  @include md {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: var(--transition);
      width: 1px;
      height: 59px;
    }

    &.active {
      &::after {
        background-color: var(--blue-color) !important;
      }

      path {
        stroke: var(--blue-color);
      }
    }
  }
}

.auth__login,
.auth__signup {
  display: flex;
  align-items: flex-end;
  height: 68px;
  margin-top: 9px;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-decoration: none;
  transition: var(--transition);
}

.auth__login {
  margin-right: 20px;
  width: 145px;
  padding: 24px 0 18px 0;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: var(--blue-color);
    border-radius: 6px;
  }

  svg {
    display: none;
  }

  @include md {
    width: auto;
    height: auto;
    margin-right: 34px;
    margin-top: 0;

    span {
      display: none;
    }

    svg {
      display: block;
    }

    &:hover {
      background-color: transparent;
    }

    path {
      transition: var(--transition);
    }
  }
}

.auth__signup {
  width: 188px;
  padding: 24px 30px 18px 41px;

  @include md {
    display: none;
  }

  .icon__arrow {
    display: inline-block;
    margin-left: 27px;
    transform: rotate(-45deg);
    transition: var(--transition);
  }

  &:hover {
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 6px;
  }

  &:hover .icon__arrow {
    transform: rotate(0);
  }
}

// if main color is dark-blue

.dark .auth__login:hover,
.dark .auth__signup:hover {
  color: var(--white-color);
}

.dark .auth__signup:hover path {
  fill: var(--white-color);
  stroke: var(--white-color);
}

// burger styles

.header__burger {
  display: none;
  position: relative;
  width: 31px;
  height: 23px;
  align-items: center;
  cursor: pointer;

  @include md {
    display: flex;
  }

  span,
  &::before,
  &::after {
    min-width: 100%;
    height: 3px;
    border-radius: 20px;
    background-color: var(--white-color);
  }

  span {
    display: block;
    transition: var(--transition);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: var(--transition);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    min-width: 54.84%;
    transition: var(--transition);
  }
}

.header__burger.active {
  &::after {
    bottom: 10px;
    min-width: 104.92%;
    transform: rotate(-45deg);
    background-color: var(--blue-color) !important;
  }

  &::before {
    top: 10px;
    min-width: 104.92%;
    transform: rotate(45deg);
    background-color: var(--blue-color) !important;
  }

  span {
    opacity: 0;
    visibility: hidden;
  }
}
