.info {
  padding-top: 99px;
  // background-color: var(--white-color);

  @include md {
    padding-top: 79px;
  }

  @include sm {
    padding-top: 59px;
  }

  @include xxs {
    padding-top: 42px;
  }
}

.info__title {
  margin-bottom: 94px;
  padding-right: 53px;
  font-weight: 400;
  font-size: 132px;
  line-height: 80%;
  letter-spacing: -0.02em;
  text-align: center;

  @include md {
    margin-bottom: 74px;
    font-size: 108px;
  }

  @include sm {
    margin-bottom: 54px;
    font-size: 83px;
  }

  @include xxs {
    margin-bottom: 34px;
    padding-right: 0;
    font-size: 59px;
  }
}

.info__container {
  position: relative;
  display: grid;
  grid-template-columns: 45.08% 44.21%;
  gap: 0 10.71%;
  margin-bottom: 24px;

  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 462px;
    background-color: var(--blue-color);
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include xs {
    grid-template-columns: 1fr;
    gap: 0;
    margin-bottom: 19px;
  }

  &::after {
    display: none;
  }
}

.info__description {
  @include xs {
    margin-bottom: 50px;
  }
}

.info__important {
  margin-bottom: 51px;
  font-weight: 400;
  font-size: 58px;
  line-height: 100%;
  letter-spacing: -0.01em;

  @include md {
    margin-bottom: 41px;
    font-size: 50px;
  }

  @include sm {
    margin-bottom: 31px;
    font-size: 42px;
  }

  @include xxs {
    margin-bottom: 24px;
    font-size: 34px;
  }
}

.info__text {
  max-width: 437px;
  margin-left: 50px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #8187a2;

  @include md {
    font-size: 22px;
  }

  @include sm {
    max-width: 260px;
    margin-left: 10px;
    font-size: 20px;
  }

  @include xxs {
    max-width: 220px;
    margin-left: 4px;
    font-size: 17px;
  }
}

.info__item {
  display: grid;
  grid-template-columns: 75.12% 24.88%;
  grid-template-areas:
    "name name"
    "value icon";

  &:not(:last-child) {
    margin-bottom: 41px;

    @include xs {
      margin-bottom: 32px;
    }
  }

  @include xs {
    grid-template-columns: 78% 22%;
  }

  &:first-child .info__name {
    padding-bottom: 27px;

    @include xs {
      padding-bottom: 10px;
    }
  }

  &:nth-child(2) {
    & .info__name {
      padding-bottom: 10px;
    }

    & .info__icon {
      margin-top: 19px;
    }
  }

  &:nth-child(3) {
    & .info__name {
      padding-bottom: 14px;
    }

    & .info__icon {
      margin-top: 17px;
    }
  }
}

.info__name {
  grid-area: name;
  font-weight: 400;
  font-size: 22px;
  line-height: 80%;
  letter-spacing: -0.02em;
  border-bottom: 1px solid var(--blue-color);

  @include xs {
    padding-bottom: 12px;
  }

  @include xxs {
    font-size: 19px;
  }
}

.info__value {
  grid-area: value;
  margin-top: 32px;
  font-weight: 400;
  font-size: 80px;
  line-height: 80%;
  letter-spacing: -0.02em;

  @include md {
    font-size: 73px;
  }

  @include sm {
    font-size: 66px;
  }

  @include xs {
    margin-top: 29px;
  }

  @include xxs {
    font-size: 60px;
  }
}

.info__icon {
  grid-area: icon;
  margin-top: 11px;

  @include xxs {
    margin-top: 17px;
  }
}

.info__pic {
  width: 67px;
  height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(313.31deg, #081c60 -27.12%, #0678cb 198.41%),
    #081c60;

  span {
    display: inline-block;
  }

  @include sm {
    width: 58px;
    height: 58px;
  }
}

.info__background {
  position: absolute;
  top: -276px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 400px;

  span {
    font-weight: 500;
    font-size: 500px;
    line-height: 80%;
    letter-spacing: -0.01em;
    background: linear-gradient(90.11deg, #f3f3f8 -2.12%, #ffffff 53.59%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
}

.info__blur {
  position: absolute;
  top: 50%;
  left: 1000px;
  z-index: -2;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform-origin: top right;
  transform: rotate(-40deg);
  ///////////////////////////
  // background-color: #f00;
  // box-shadow: 0 0 500px 300px #f00;
  ///////////////////////////////
  background-color: rgba(4, 33, 133, 0.07);
  box-shadow: 0 0 500px 300px rgba(4, 33, 133, 0.07);
}

.info__more {
  position: relative;
  width: 220px;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 69px;
  color: var(--blue-color);
  text-decoration: none;
  border-radius: 50%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #042185;
    transition: var(--transition);
  }

  &:hover {
    &::after {
      transform: scale(1.16);
      background-color: #042185;
      border-color: var(--blue-color);
    }

    span {
      color: var(--white-color);
    }
  }

  span {
    position: relative;
    z-index: 2;
    width: min-content;
    font-weight: 600;
    font-size: 26px;
    line-height: 80%;
    letter-spacing: -0.02em;
    text-align: center;
    transition: var(--transition);
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
  }

  @include md {
    width: 185px;
    height: 185px;

    span {
      font-size: 22px;
    }

    a {
      width: 185px;
      height: 185px;
    }
  }

  @include xs {
    width: 147px;
    height: 147px;
    margin-bottom: 59px;

    span {
      font-size: 19px;
    }

    a {
      width: 147px;
      height: 147px;
    }
  }
}

.info__box {
  position: relative;
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "project club"
    "phrase club";
  margin: 0 auto;
}

.info__project,
.info__club-wrapper {
  min-height: 594px;

  @include md {
    min-height: 480px;
  }

  @include xs {
    min-height: 365px;
  }

  @include xxs {
    min-height: 251px;
  }
}

.info__project {
  position: relative;
  grid-area: project;
}

.info__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info__content {
  position: relative;
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 48px 0 95px 63px;
  color: var(--white-color);

  @include r(1399px) {
    padding: 48px 0 95px 40px;
  }

  @include md {
    padding: 40px 0 72px 40px;
  }

  @include xs {
    padding: 33px 0 49px 28px;
  }

  @include xxs {
    padding: 25px 0 51px 28px;
  }

  @include r(350px) {
    padding: 25px 0 51px 20px;
  }

  p {
    max-width: 85px;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: -0.01em;

    @include xs {
      font-size: 12px;
    }
  }

  h3 {
    max-width: 200px;
    font-weight: 600;
    font-size: 80px;
    line-height: 80%;
    letter-spacing: -0.02em;

    @include md {
      font-size: 65px;
    }

    @include xs {
      font-size: 40px;
    }

    @include xxs {
      font-size: 34px;
    }

    @include r(350px) {
      font-size: 28px;
    }
  }
}

.info__club {
  grid-area: club;
  padding-top: 150px;

  @include md {
    padding-top: 138px;
  }

  @include xs {
    padding-top: 126px;
  }

  @include xxs {
    padding-top: 109px;
  }
}

.info__club-wrapper {
  position: relative;
  padding: 142px 63px 55px 94px;
  color: var(--white-color);
  background: linear-gradient(132.12deg, #071b64 18.48%, #265792 107.2%);

  @include r(1399px) {
    padding: 142px 40px 55px 94px;
  }

  @include md {
    padding: 102px 40px 48px 72px;
  }

  @include xs {
    padding: 62px 28px 48px 50px;
  }

  @include xxs {
    padding: 24px 28px 43px 25px;
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }

  &:hover .info__create span {
    transform: scale(1.54) rotate(45deg);
  }
}

.info__suptitle {
  margin-bottom: 162px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.01em;

  @include md {
    margin-bottom: 125px;
  }

  @include xs {
    margin-bottom: 88px;
  }

  @include xxs {
    margin-bottom: 64px;
  }
}

.info__join {
  max-width: 500px;
  margin-bottom: 52px;
  font-weight: 400;
  font-size: 60px;
  line-height: 80%;
  letter-spacing: -0.02em;

  @include md {
    margin-bottom: 39px;
    font-size: 48px;
  }

  @include xs {
    margin-bottom: 26px;
    font-size: 36px;
  }

  @include xxs {
    margin-bottom: 15px;
    font-size: 22px;
  }
}

.info__create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 34px;
  padding-right: 5px;
  border-top: 1px solid var(--white-color);

  @include md {
    padding-top: 30px;
  }

  @include xs {
    padding-top: 26px;
  }

  @include xxs {
    padding-top: 21px;
  }

  p {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: -0.01em;

    @include md {
      font-size: 26px;
    }

    @include xs {
      font-size: 22px;
    }

    @include xxs {
      width: min-content;
      font-size: 16px;
      line-height: 14px;
    }
  }

  span {
    display: inline-block;
    width: 26px;
    height: 26px;
    transition: var(--transition);

    @include md {
      width: 22px;
      height: 22px;
    }

    @include xs {
      width: 19px;
      height: 19px;
    }

    @include xxs {
      width: 15px;
      height: 15px;
    }
  }
}

.info__phrase {
  grid-area: phrase;
  min-height: 150px;
  height: 100%;
  display: flex;
  align-items: flex-end;
  padding-left: 63px;

  span {
    max-width: 135px;
    margin-left: 5px;
    font-weight: 400;
    font-size: 21px;
    line-height: 100%;
    color: #373f5e;
  }

  @include r(1399px) {
    padding-left: 40px;
  }

  @include md {
    span {
      font-size: 18px;
    }
  }

  @include xs {
    min-height: 109px;
    padding-left: 28px;

    span {
      font-size: 15px;
    }
  }

  @include xxs {
    span {
      position: relative;
      top: 4px;
      max-width: 95px;
      margin-left: 3px;
      font-size: 12px;
    }
  }
}
