.resons {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  padding: 84px 0 54px 63px;

  @include r(1399px) {
    padding-left: 40px;
  }

  @include xs {
    padding-left: 28px;
    padding: 84px 0 57px 28px;
  }
}

.resons__bg {
  position: absolute;
  top: 380px;
  right: 499px;
  z-index: -1;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform-origin: top right;
  transform: rotate(-40deg);
  ///////////////////////////
  // background-color: #f00;
  // box-shadow: 0 0 500px 300px #f00;
  ///////////////////////////////
  background-color: rgba(4, 33, 133, 0.07);
  box-shadow: 0 0 500px 300px rgba(4, 33, 133, 0.07);
}

.resons__title {
  max-width: 1500px;
  margin: 0 auto 37px;
  font-weight: 600;
  font-size: 140px;
  line-height: 80%;
  letter-spacing: -0.02em;

  @include md {
    font-size: 100px;
  }

  @include sm {
    margin: 0 auto 26px 0;
    max-width: 460px;
  }

  @include xs {
    max-width: 350px;
    font-size: 80px;
  }

  @include xxs {
    max-width: 314px;
    font-size: 60px;
  }
}

.resons__container {
  position: relative;
  // margin needs for slider scrollbar
  margin-bottom: 75px;
}

.resons__slider {
  overflow: hidden;
}

.resons__drag {
  position: absolute;
  bottom: 0;
  left: 816px;
  z-index: 10;
  width: 114px;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dfe2ef;
  border-radius: 50%;
  transform: translateY(55%);
  pointer-events: none;

  @include md {
    left: 655px;
  }

  @include sm {
    display: none;
  }

  span {
    position: relative;
    padding: 0 20px;
    font-weight: 600;
    font-size: 17px;
    line-height: 100%;
    letter-spacing: -0.02em;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 5px;
      height: 5px;
      border: 1px solid #00114f;
    }

    &:after {
      left: 0;
      transform: rotate(45deg) translateY(-50%);
      border-top: none;
      border-right: none;
    }

    &::before {
      right: 0;
      transform: rotate(-45deg) translateY(-50%);
      border-top: none;
      border-left: none;
    }
  }
}

.resons__slide {
  width: 408px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 38px 45px 54px 51px;
  background-color: var(--white-color);

  &:last-child {
    margin-right: 63px;

    @include r(1399px) {
      margin-right: 40px;
    }

    @include xs {
      margin-right: 28px;
    }
  }

  @include md {
    width: 327px;
    height: 318px;
  }

  @include xs {
    padding: 24px 71px 30px 26px;
    width: 245px;
    height: 235px;
  }
}

.resons__descr,
.resons__pictogram {
  position: relative;
  z-index: 1;
}

.resons__descr {
  order: 2;
}

.resons__pictogram {
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  order: 1;

  @include xs {
    justify-content: flex-start;
  }
}

.resons__heading {
  max-width: 258px;
  margin-bottom: 32px;
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: -0.02em;

  @include md {
    margin-bottom: 25px;
    font-size: 26px;
  }

  @include xs {
    font-size: 18px;
  }
}

.resons__text {
  max-width: 210px;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #a1a8c1;

  @include md {
    max-width: 180px;
    font-size: 12px;
  }

  @include xs {
    max-width: 150px;
    font-size: 10px;
  }
}

.resons__icon {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: linear-gradient(127.65deg, #00114f -9.03%, #2769a7 107.68%);

  @include md {
    width: 94px;
    height: 94px;
  }

  @include xs {
    width: 63px;
    height: 63px;
  }

  img {
    @include md {
      transform: scale(0.75);
    }

    @include xs {
      transform: scale(0.5);
    }
  }
}

.resons__value,
.resons__info {
  width: 100%;
  color: var(--white-color);
  text-align: center;
}

.resons__value {
  font-weight: 500;
  font-size: 80px;
  line-height: 80%;
  letter-spacing: -0.06em;

  @include md {
    font-size: 65px;
  }

  @include xs {
    font-size: 50px;
  }
}

.resons__info {
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.01em;

  @include md {
    font-size: 11px;
  }

  @include xs {
    font-size: 8px;
  }
}

// first resons slide

.resons__slide.resons__slide--first {
  padding: 67px 53px 28px 51px;

  @include md {
    padding: 45px 37px 22px 37px;
  }

  @include xs {
    padding: 20px 21px 12px 24px;
  }

  .resons__descr {
    order: 1;
  }

  .resons__pictogram {
    order: 2;
    transform: translateY(-5px);
    justify-content: flex-end;
  }

  .resons__heading {
    max-width: 252px;
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 25px;
    line-height: 100%;
    letter-spacing: -0.01em;

    @include md {
      max-width: 215px;
      margin-bottom: 20px;
      font-size: 22px;
    }

    @include xs {
      max-width: 165px;
      margin-bottom: 16px;
      font-size: 18px;
    }
  }

  .resons__icon {
    width: 202px;
    height: 202px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px 0;

    @include md {
      width: 164px;
      height: 164px;
    }

    @include xs {
      width: 126px;
      height: 126px;
      gap: 10px 0;
    }
  }
}

.resons__container {
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    bottom: -75px;
    background-color: transparent;
    width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%) - 63px);

    @include r(1399px) {
      width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%) - 40px);
    }

    @include xs {
      width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%) - 28px);
    }
  }

  .swiper-scrollbar-drag {
    background: var(--blue-color);
    border-radius: 20px;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}
