extends base/_layout
block head
    title Main page
block header
    +header('white')
block page

    section.intro

        .intro__panel

            .container

                .intro__next
                    span Next
                    button.intro__btn

                .intro__pagination.pagination

                    button.pagination__item.active 01

                    button.pagination__item 02

                    button.pagination__item 03

                    .pagination__pointer

            .intro__bottom

                .container

                    .intro__inner

                        a.intro__scroll(href="#")
                            span Scroll Down#[br]
                            span to Learn More#[br]
                            +icon('arrow-white-down-45')

                .intro__signup

                    a.intro__link(href="#")

                    .intro__bg

                    .intro__descr

                        p.intro__sup Take it easy

                        p.intro__text Create account

                    +icon('intro-arrow-up-45-white')

        .intro__slider

            .intro__wrapper

                .intro__item

                    .intro__image

                        .intro__overlay

                        +picture('intro/intro-bg1', 'png', 'x2')

                    .intro__content

                        .container

                            p.intro__suptitle Begin your investment

                            h2.intro__title.
                                Investment#[br]in Most Ambitious#[br]Projects
