extends base/_layout
block head
    title Main page
block header
    +header('dark')
block page

    section.intro

        .intro__slider.swiper-slider

            .intro__wrapper.swiper-wrapper

                .intro__item.swiper-item

                    .intro__bg

                        +picture('main/intro-bg1', 'png', 'x2')

                    .container
