mixin header(color)

  header.header(class=color)

    nav.header__nav

      ul.header__list

        li.header__item
          a.header__link(href="#") Portfolio

        li.header__item
          a.header__link(href="#") About

        li.header__item
          a.header__link(href="#") Team

        li.header__item
          a.header__link(href="#") Blog

        li.header__item
          a.header__link(href="#") Contacts