:root {
  --white-color: #fff;
  --blue-color: #00114f;
  --main-font: "Compose", sans-serif;
  --roboto: "Roboto", sans-serif;
}

*,
p,
h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--main-font);
  color: var(--blue-color);
  min-width: 320px;

  &.lock {
    overflow: hidden;
  }
}
