@use 'sass:math';

%svg-common {
	background: url("../images/sprites/main.svg") no-repeat;
}

.svg-image-arrow-white-down-45 {
	@extend %svg-common;
	background-position: 100% 0;
	background-size: math.div(65, 25)*100% auto;
	width: 25px;

}
@mixin svg-pos-image-arrow-white-down-45 {
	background-position: 100% 0;
}
@mixin svg-image-arrow-white-down-45-hover {
	.svg-image-arrow-white-down-45 {
		@include svg-pos-image-arrow-white-down-45-hover
	}
}

.svg-image-arrow-white-down-45:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(24, 25)*100%;
}

.svg-image-arrow-white-down-45-dims {
	width: 25px;
	height: 24px;
}

.svg-image-intro-arrow-up-45-white {
	@extend %svg-common;
	background-position: 0 0;
	background-size: math.div(65, 40)*100% auto;
	width: 40px;

}
@mixin svg-pos-image-intro-arrow-up-45-white {
	background-position: 0 0;
}
@mixin svg-image-intro-arrow-up-45-white-hover {
	.svg-image-intro-arrow-up-45-white {
		@include svg-pos-image-intro-arrow-up-45-white-hover
	}
}

.svg-image-intro-arrow-up-45-white:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(40, 40)*100%;
}

.svg-image-intro-arrow-up-45-white-dims {
	width: 40px;
	height: 40px;
}


.image-by-height { width:auto; }
.image-by-height:before { content:none; }
.image-by-height > svg { height: inherit; }
.image-by-height > img { height: inherit !important; vertical-align: top !important; margin: 0 !important; padding: 0 !important; max-width: none !important; max-height: none !important; border: 0 !important; opacity: 0 !important; }