main {
  position: relative;
  z-index: 12;
}

.overlay__blue {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999999999;
  background-color: var(--blue-color);
  pointer-events: none;
}

@import "./base/layout";

@import "./blocks/header";

@import "./blocks/main";

@import "./blocks/main_over";

@import "./blocks/intro";

@import "./blocks/info";

@import "./blocks/reasons";

@import "./blocks/statistics";

@import "./blocks/info_center";

@import "./blocks/git";

@import "./blocks/footer";
