@use 'sass:math';

%svg-common {
	background: url("../images/sprites/main.svg") no-repeat;
}

.svg-image-arrow-white-down-45 {
	@extend %svg-common;
	background-position: 96.93877551020408% 77.94117647058823%;
	background-size: math.div(123, 25)*100% auto;
	width: 25px;

}
@mixin svg-pos-image-arrow-white-down-45 {
	background-position: 96.93877551020408% 77.94117647058823%;
}
@mixin svg-image-arrow-white-down-45-hover {
	.svg-image-arrow-white-down-45 {
		@include svg-pos-image-arrow-white-down-45-hover
	}
}

.svg-image-arrow-white-down-45:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(24, 25)*100%;
}

.svg-image-arrow-white-down-45-dims {
	width: 25px;
	height: 24px;
}

.svg-image-git-arrow {
	@extend %svg-common;
	background-position: 0 0;
	background-size: math.div(123, 52)*100% auto;
	width: 52px;

}
@mixin svg-pos-image-git-arrow {
	background-position: 0 0;
}
@mixin svg-image-git-arrow-hover {
	.svg-image-git-arrow {
		@include svg-pos-image-git-arrow-hover
	}
}

.svg-image-git-arrow:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(52, 52)*100%;
}

.svg-image-git-arrow-dims {
	width: 52px;
	height: 52px;
}

.svg-image-ic-arrow {
	@extend %svg-common;
	background-position: 65% 0;
	background-size: math.div(123, 43)*100% auto;
	width: 43px;

}
@mixin svg-pos-image-ic-arrow {
	background-position: 65% 0;
}
@mixin svg-image-ic-arrow-hover {
	.svg-image-ic-arrow {
		@include svg-pos-image-ic-arrow-hover
	}
}

.svg-image-ic-arrow:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(43, 43)*100%;
}

.svg-image-ic-arrow-dims {
	width: 43px;
	height: 43px;
}

.svg-image-info-icon1 {
	@extend %svg-common;
	background-position: 100% 0;
	background-size: math.div(123, 28)*100% auto;
	width: 28px;

}
@mixin svg-pos-image-info-icon1 {
	background-position: 100% 0;
}
@mixin svg-image-info-icon1-hover {
	.svg-image-info-icon1 {
		@include svg-pos-image-info-icon1-hover
	}
}

.svg-image-info-icon1:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(28, 28)*100%;
}

.svg-image-info-icon1-dims {
	width: 28px;
	height: 28px;
}

.svg-image-info-icon2 {
	@extend %svg-common;
	background-position: 97.9381443298969% 41.791044776119406%;
	background-size: math.div(123, 26)*100% auto;
	width: 26px;

}
@mixin svg-pos-image-info-icon2 {
	background-position: 97.9381443298969% 41.791044776119406%;
}
@mixin svg-image-info-icon2-hover {
	.svg-image-info-icon2 {
		@include svg-pos-image-info-icon2-hover
	}
}

.svg-image-info-icon2:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(25, 26)*100%;
}

.svg-image-info-icon2-dims {
	width: 26px;
	height: 25px;
}

.svg-image-info-icon3 {
	@extend %svg-common;
	background-position: 43.01075268817204% 83.87096774193549%;
	background-size: math.div(123, 30)*100% auto;
	width: 30px;

}
@mixin svg-pos-image-info-icon3 {
	background-position: 43.01075268817204% 83.87096774193549%;
}
@mixin svg-image-info-icon3-hover {
	.svg-image-info-icon3 {
		@include svg-pos-image-info-icon3-hover
	}
}

.svg-image-info-icon3:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(30, 30)*100%;
}

.svg-image-info-icon3-dims {
	width: 30px;
	height: 30px;
}

.svg-image-intro-arrow-up-45-white {
	@extend %svg-common;
	background-position: 0 100%;
	background-size: math.div(123, 40)*100% auto;
	width: 40px;

}
@mixin svg-pos-image-intro-arrow-up-45-white {
	background-position: 0 100%;
}
@mixin svg-image-intro-arrow-up-45-white-hover {
	.svg-image-intro-arrow-up-45-white {
		@include svg-pos-image-intro-arrow-up-45-white-hover
	}
}

.svg-image-intro-arrow-up-45-white:before {
	content:"";
	display:block;
	font-size:0;
	line-height:0;
	padding-top: math.div(40, 40)*100%;
}

.svg-image-intro-arrow-up-45-white-dims {
	width: 40px;
	height: 40px;
}


.image-by-height { width:auto; }
.image-by-height:before { content:none; }
.image-by-height > svg { height: inherit; }
.image-by-height > img { height: inherit !important; vertical-align: top !important; margin: 0 !important; padding: 0 !important; max-width: none !important; max-height: none !important; border: 0 !important; opacity: 0 !important; }