mixin header(color)

    - let svgColor = color === 'white' ? 'white' : '#00114f';

    header.header(class=color)

        .container.header__container

            .header__navbar

                .header__logo.logo
                    a.logo__main(href="#") Venrex
                    .logo__descr Venrex Investment#[br]Management

                .header__line

                nav.header__menu.menu

                    ul.menu__list

                        li.menu__item
                            a.menu__link(href="#") Portfolio

                        li.menu__item
                            a.menu__link(href="#") About

                        li.menu__item
                            a.menu__link(href="#") Team

                        li.menu__item
                            a.menu__link(href="#") Blog

                        li.menu__item
                            a.menu__link(href="#") Contacts

                .header__lang.lang

                    .lang__selected
                        .lang__icon
                            img(src='./images/header/english.svg' alt='Eng')
                        span.lang__value Eng
                        svg.lang__shevron(width="11" height="7" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M1 1L5.94975 5.94975M9.58579 1L4.63604 5.94975" stroke=svgColor stroke-width="2")

                    ul.lang__dropdown

                        li.lang__item(data-lang="Eng")
                            .lang__icon
                                img(src='./images/header/english.svg' alt='Eng')
                            span.lang__value English

                        li.lang__item(data-lang="Rus")
                            .lang__icon
                                img(src='./images/header/russian.svg' alt='Rus')
                            span.lang__value Russian

                        li.lang__item(data-lang="Chi")
                            .lang__icon
                                img(src='./images/header/chinese.svg' alt='Chi')
                            span.lang__value Chinese

                        li.lang__item(data-lang="Es")
                            .lang__icon
                                img(src='./images/header/spanish.svg' alt='Es')
                            span.lang__value Spain

            .header__auth.auth

                a.auth__login(href='#') Login

                a.auth__signup(href="#")
                    span Sign Up
                    +iconArrowRight(svgColor)

            .header__small

                .header__auth
