mixin header(color)

    header.header(class=color)

        .container.header__container

            .header__navbar

                .header__logo.logo
                    a.logo__main(href="#") Venrex
                    .logo__descr Venrex Investment#[br]Management

                .header__line

                nav.header__menu.menu

                    ul.menu__list

                        li.menu__item
                            a.menu__link(href="#") Portfolio

                        li.menu__item
                            a.menu__link(href="#") About

                        li.menu__item
                            a.menu__link(href="#") Team

                        li.menu__item
                            a.menu__link(href="#") Blog

                        li.menu__item
                            a.menu__link(href="#") Contacts

                .header__lang.lang

                    .lang__selected
                        .lang__icon
                            img(src='./images/header/english.svg' alt='Eng')
                        span.lang__value Eng
                        +icon('shevron')

                    ul.lang__dropdown

                        li.lang__item(data-lang="Eng")
                            .lang__icon
                                img(src='./images/header/english.svg' alt='Eng')
                            span.lang__value English

                        li.lang__item(data-lang="Rus")
                            .lang__icon
                                img(src='./images/header/russian.svg' alt='Eng')
                            span.lang__value Russian

                        li.lang__item(data-lang="Cni")
                            .lang__icon
                                img(src='./images/header/chinese.svg' alt='Eng')
                            span.lang__value Chinese

                        li.lang__item(data-lang="Es")
                            .lang__icon
                                img(src='./images/header/spanish.svg' alt='Eng')
                            span.lang__value Spain

            .header__auth.auth

                a.auth__login(href='#') Login

                a.auth__signup(href="#")
                    span Sign Up
                    +iconArrowRight(color)
