mixin iconHeaderAuth(svgColor)

    svg(width="22" height="25" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg")
        path(d="M10.901 10.901C8.72277 10.901 6.94059 9.11881 6.94059 6.94059V4.9604C6.94059 2.78218 8.72277 1 10.901 1C13.0792 1 14.8614 2.78218 14.8614 4.9604V6.94059C14.8614 9.11881 13.0792 10.901 10.901 10.901Z" stroke=svgColor stroke-width="2" stroke-miterlimit="10")
        path(d="M7.13861 13.8713C7.33663 13.8713 7.53465 13.9703 7.73267 14.1683C8.42574 15.1584 9.61386 15.8515 11 15.8515C12.3861 15.8515 13.4752 15.1584 14.2673 14.1683C14.3663 13.9703 14.5644 13.8713 14.8614 13.8713C18.2277 13.8713 21 16.6436 21 20.0099V22.7822C21 23.3762 20.505 23.7723 20.0099 23.7723H1.9901C1.39604 23.7723 1 23.2772 1 22.7822V20.0099C1 16.6436 3.77228 13.8713 7.13861 13.8713Z" stroke=svgColor stroke-width="2" stroke-miterlimit="10")
