.test-block_webp
    h2 WebP image format + @2x
    br
    +picture('about','jpg','x2')
    br
    br
    br

.test-block__sprite-svg
    br
    h2 SVG-cпрайты сгенерированные из sources/src/images/sprite-svg/
    h3 Вставка как обычный спрайт через bg (самый кроссбраузерный):
    span.svg-image-clock
    span.svg-image-personal
    span.svg-image-phone-rounded
    br
    | Размер зависит от ширины и она задана по умолчанию от ширины исходной svg иконки. Прописав нужный width иконка изменится пропорционально.
    br
    br
    | Если нужно, чтобы ширина иконки подстраивалась в зависимости от заданной высоты (в том числе автоматически, от высоты родителя например):
    br
    span.svg-image-clock.image-by-height(style="height:65px")
        svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33 38")
    | — вот такой лайф-хак. Класс "image-by-height" и вставка внутрь иконки svg-контейнера, который задаёт пропорции иконки. В viewBox обязательно должны быть прописаны размеры каждой конкретной иконки.
    br
    br
    h3 Вставка с помощью миксина:
    +icon('clock')
    | можно также задавать размер:
    +icon('clock',50)
    br
    br
    h3 Вставка через use (ховер для цвета)
    p Для ховера цвета необходимо отредактировать все fill в svg на fill="currentColor" и тогда цвет подтягивается из стилей, в том числе ховер с transition:
    .icon-transition-hover
        +use('programmer',50,50)

    h3 Ховер для спрайта (через дублирование svg)
    a(href="#").just-hover
        span.svg-image-money
        | Cсылка с иконкой c ховером. Ховер прописан в стилях
    br
    a(href="#").just-hover
        span.svg-image-personal
        | Ещё cсылка с иконкой c ховером.
    br
    | Добавляем -hover (именно через дефис, раньше была тильда — отказались) к имени исходного svg файла.
    br
    | Прописываем @include svg-image-NAME-hover в стилях нужного :hover родителя. Такой инклуд нужен для каждой иконки.

    br
    h3 Ховер c анимацией и ресайзом :)
    a(href="javascript:void(0);").anim-hover
        span.svg-image-money
        | Cсылка с transition стилями для иконки
    br
    a(href="javascript:void(0);").anim-hover
        span.svg-image-personal
        | Ещё cсылка с иконкой c ховером с анимацией
    br
    br
    br

    h3 Вставка в режиме «stack» через bg (iOS &lt;11.3 в пролёте, IE 11 в пролёте, удобно менять размер):
    .some-block Текст блока
    br

    h3 Вставка в режиме «stack» через img (iOS &lt;11.3 в пролёте, IE 11 работает):
    img(src="images/sprites/main.stack.svg#image-clock" alt="" width="60")
    |  — размер задан атрибутом
    br
    object(type='image/svg+xml' data='images/sprites/main.stack.svg#image-money').svg-image-money-dims
    |  — вставка как object, работает в iOS &lt; 11.3. Но есть ощущение, что для браузера это тяжелый способ — при каждом обновлении страницы иконка моргает.
    br
    img(src="images/sprites/main.stack.svg#image-phone-rounded" alt="")
    img(src="images/sprites/main.stack.svg#image-money" alt="").svg-image-money-dims
    img(src="images/sprites/main.stack.svg#image-personal" alt="").svg-image-personal-dims
    |  — размер задан стилями
    